.CountryInfo-Label {
    width: 110px;
    -unity-text-align: middle-left;
    font-size: 35px;
}

.CountryInfo-Value {
    width: 80px;
    -unity-text-align: upper-left;
}

.MemberInfo-Cell {
    font-size: 30px;
    width: 65px;
}

.MemberInfo-Col-Name {
    width: 220px;
}
